<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="zh_CN">
<head>
    <meta charset="UTF-8">
    <title>售货历史 - Goods Manager</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0,minimum-scale=1.0, user-scalable=0" />
    <meta http-equiv="Cache-Control" content="no-transform">
    <meta http-equiv="Cache-Control" content="no-siteapp">
    <link href="static/css/bootstrap.min.css" rel="stylesheet">
    <link href="static/css/datetimepicker.min.css" rel="stylesheet">
    <style>
    </style>
    <script type="text/javascript" src="static/js/echarts.min.js"></script>
</head>

{{$hislen := (.history | len)}}
{{$havehis := not (compare $hislen 0)}}

<body style="background-color: #E0E0E0; overflow-x: hidden">
<nav class="navbar navbar-expand-lg sticky-top navbar-light bg-light">
    <a class="navbar-brand" href="#">Goods Manager</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/">主页 <span class="sr-only">(激活)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/add">添加货物</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="/his">售货历史</a>
            </li>
            {{template "navmenu.html" .}}
            <li class="nav-item">
                <a class="nav-link disabled font-weight-bolder" href="#" tabindex="-1" aria-disabled="true">{{config "String" "store_name" "欢迎使用"}}</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0" id="search-form">
            <input class="form-control mr-sm-2" type="search" name="name" placeholder="查询货品名称" value="{{.name}}">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">搜索</button>
        </form>
    </div>
</nav>

<div class="mx-md-5 mt-5 col-xs-12" id="main">
    <div class="row clearfix">
        <div class="col">
            <div class="card mb-3">
                <div class="card-header d-sm-flex">
                    <div class="form-inline flex-grow-1">
                    <span class="align-middle mb-0 form-group">
                        <select class="form-control" id="event">
                            <option value="登记" {{if eq .event "登记"}}selected{{end}} >登记历史</option>
                            <option value="出售" {{if eq .event "售出"}}selected{{end}} >售出历史</option>
                            <option value="进货" {{if eq .event "进货"}}selected{{end}} >进货历史</option>
                            <option value="撤柜" {{if eq .event "撤柜"}}selected{{end}} >撤柜历史</option>
                            <option value="删除" {{if eq .event "删除"}}selected{{end}} >删除历史</option>
                            <option value="恢复" {{if eq .event "恢复"}}selected{{end}} >恢复历史</option>
                            <option value="更新" {{if eq .event "更新"}}selected{{end}} >更新历史</option>
                        </select>
                    </span>
                    </div>
                    <div class="form-inline">
                        <div class="input-group">
                            <input type="text" class="form-control" id="startdate" placeholder="yyyy-MM-dd" value="{{.startDate}}" readonly>
                            <div class="input-group-prepend">
                                <span class="input-group-text">至</span>
                            </div>
                            <input type="text" class="form-control" id="enddate" placeholder="yyyy-MM-dd" value="{{.endDate}}" readonly>
                            <div class="input-group-append">
                                <button class="btn btn-outline-info" type="button" id="search">查询</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    {{if .errorStr}}
                        <p>{{.errorStr}}</p>
                    {{else if not $havehis}}
                        <p>未找到相应内容.</p>
                    {{else}}
                        {{if .statErrorStr}}
                            时段统计失败: {{.statErrorStr}}
                        {{else}}
                            <p>{{if .name}}筛选 <strong>{{.name}}</strong>, {{end}}时间段{{.startDate}}至{{.endDate}} 售出{{.statSumQuantity}}件, 售出共计{{.statSumMoney}}元, 利润共计{{.statSumProfits}}元.</p>
                        {{end}}
                        <div class="table-responsive-lg" style="font-size: 12px">
                            <table class="table table-striped table-hover table-sm" >
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>时间</th>
                                        <th>事件</th>
                                        <th>货品ID</th>
                                        <th>货品名称</th>
                                        <th>货品描述</th>
                                        <th>货品定价</th>
                                        <th>货品图片</th>
                                        <th>数量</th>
                                        <th>总金额</th>
                                        <th>利润</th>
                                        <th>备注</th>
                                        <th>信息</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {{range .history}}
                                        <tr style="max-height: 45px; ">
                                            <td scope="row">{{.id}}</td>
                                            <td>{{.createtime}}</td>
                                            <td>{{.event}}</td>
                                            <td>#{{.goodid}}</td>
                                            <td>{{.goodname}}</td>
                                            <td><span class="text-break">{{.gooddesc}}</span></td>
                                            <td>¥{{.goodprice}}</td>
                                            <td>{{if .goodimage}}<a href="static/upload/origin/{{.goodimage}}" target="_blank">查看</a>{{end}}</td>
                                            <td>{{.quantity}}</td>
                                            <td>¥{{.money}}</td>
                                            <td>¥{{.profits}}</td>
                                            <td>{{.remark}}</td>
                                            <td><span class="text-break">{{.info}}</span></td>
                                        </tr>
                                    {{end}}

                                </tbody>
                            </table>
                        </div>
                    {{end}}
                </div>
            </div>
        </div>
    </div>
</div>

{{template "footer.html" .}}

<script type="text/javascript" src="static/js/jquery.min.js"></script>
<script type="text/javascript" src="static/js/bootstrap.bundle.min.js"></script>
<script type="text/javascript" src="static/js/moment.min.js"></script>
<script type="text/javascript" src="static/js/datetimepicker.zh_CN.js"></script>
<script type="text/javascript" src="static/js/datetimepicker.min.js"></script>
<script type="text/javascript" src="static/js/echarts.min.js"></script>
<script src="static/js/helper.js"></script>
<script type="text/javascript">
    "use strict";
    $(function(){
        let dateFormat = "YYYY-MM-DD",
            tooltips = {
                today: '返回今天',
                clear: '清除选中',
                close: '关闭窗口',
                selectMonth: '选择月份',
                prevMonth: '上月',
                nextMonth: '下月',
                selectYear: '选择年份',
                prevYear: '去年',
                nextYear: '明年',
                selectDecade: '选择年代',
                prevDecade: '上一年代',
                nextDecade: '下一年代',
                prevCentury: '上个世纪',
                nextCentury: '下个世纪',
                pickHour: '选择小时',
                incrementHour: '增加小时',
                decrementHour: '减少小时',
                pickMinute: '选择分钟',
                incrementMinute: '增加分钟',
                decrementMinute: '减少分钟',
                pickSecond: '设置秒数',
                incrementSecond: '增加秒数',
                decrementSecond: '减少秒数',
                togglePeriod: '切换周期',
                selectTime: '选择时间'
            };
        $("#startdate").datetimepicker({
            format: dateFormat,
            ignoreReadonly: true,
            widgetPositioning: {
                horizontal:"auto",
                vertical:"bottom"
            },
            locale: "zh_cn",
            collapse: true,
            tooltips: tooltips,
            minDate: "2000-01-01",
            //maxDate: moment().format("YYYY-MM-DD"),
            showTodayButton: true,
        });
        $("#enddate").datetimepicker({
            format: dateFormat,
            ignoreReadonly: true,
            widgetPositioning: {
                horizontal:"auto",
                vertical:"bottom"
            },
            locale: "zh_cn",
            collapse: true,
            tooltips: tooltips,
            minDate: "2000-01-01",
            //maxDate: moment().format("YYYY-MM-DD"),
            showTodayButton: true,
        });
        $("#search").click(function(){
            let nameSearchFormDom = $("#search-form"),
                name = nameSearchFormDom.find("input[name=name]").val(),
                startDate = $("#startdate").val(),
                endDate = $("#enddate").val(),
                event = $("#event").val(),
                params = [
                    "name=" + name,
                    "st=" + startDate,
                    "et=" + endDate,
                    "e=" + event
                ],
                redirect = "/his?" + params.join("&");
            window.location.href = redirect
        });
        $("#search-form").submit(function(e){
            e.preventDefault()
            let name = $(this).find("input[name=name]").val();
            if (name !== ""){
                $("#search").click();
            }
        });
        // $("#search-form .btn[type=submit]").click(function(){
        //     let name = $("#search-form").find("input[name=name]").val()
        //     if(name !== ""){
        //         $("#search").click();
        //     }
        // });
    })

</script>
</body>
</html>