<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="zh_CN">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0,minimum-scale=1.0, user-scalable=0" />
    <meta http-equiv="Cache-Control" content="no-transform">
    <meta http-equiv="Cache-Control" content="no-siteapp">
    <link href="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/4.6.0/css/bootstrap.min.css" rel="stylesheet">
    <style>
        .ctrl-box {
            min-width: 115px
        }
        .desc-box {
            height: 72px;
            overflow-y: auto;
        }
        .price {
            color: #F30;
        }
    </style>
</head>
<body style="background-color: #E0E0E0">
<nav class="navbar navbar-expand-lg sticky-top navbar-light bg-light">
    <a class="navbar-brand" href="#">Goods Manager</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">主页 <span class="sr-only">(激活)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">添加货物</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">售货历史</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    高级操作
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">高级操作1</a>
                    <a class="dropdown-item" href="#">高级操作2</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">高级操作3</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">被禁用的项目</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="查询货品名称">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">搜索</button>
        </form>
    </div>
</nav>

<div class="container mt-5 col-xs-12" id="main">
    <div class="jumbotron">
        <h1 class="display-4">欢迎使用</h1>
        <p class="lead">Goods Manager系统会帮助您记录您店中货物的进出口的详情和累计的售出量, 您在每次售货或货物变更的时候即时操作, 系统将在每次操作后对记录和统计做出更新, 方便定时统计.</p>
        <hr class="my-4">
        <p>现在存库中尚没有货物登记, 可以点击下方按钮或标题栏中"添加货物"增加一条记录.</p>
        <a class="btn btn-primary btn-lg" href="#" role="button">添加货物</a>
        <noscript>
            <p>本系统需要使用JavaScript来进行操作, 请打开浏览器的JavaScript运行选项, 确保系统各项功能正常.</p>
        </noscript>
    </div>
</div>

<div class="container mt-5 col-xs-12" id="main" style="display: none;">
    <div class="row clearfix">
        <div class="col">
            <div class="card mb-3">
                <div class="card-header">
                    货物列表
                </div>
                <div class="card-body">
                    <div class="alert"><h3 class="card-title">截至yyyy-mm-dd, 现有整体货物%d件, 本日售出%d件, 本月售出%d件</h3></div>
                    <table class="table table-striped table-hover table-responsive">
                        <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">缩略图</th>
                            <th scope="col">名称</th>
                            <th scope="col">描述</th>
                            <th scope="col">单价</th>
                            <th scope="col">库存</th>
                            <th scope="col">操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td scope="row">1</td>
                            <td><img src="" width="100px" height="100px" /></td>
                            <td>风衣</td>
                            <td>这是一件风衣</td>
                            <td>150</td>
                            <td>5</td>
                            <td>
                                <div class="btn-group btn-group-sm" role="group" aria-label="Button group with nested dropdown">
                                    <div class="btn-group" role="group">
                                        <button id="btnGroupDropAdvanceGroup_#id" type="button" class="btn btn-light dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            操作
                                        </button>
                                        <div class="dropdown-menu" aria-labelledby="btnGroupDropAdvanceGroup_#id">
                                            <a class="dropdown-item" href="#">进货</a>
                                            <a class="dropdown-item" href="#">撤柜</a>
                                            <a class="dropdown-item" href="#">删除</a>
                                        </div>
                                    </div>
                                    <button type="button" class="btn btn-secondary btn-success">出 售</button>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td scope="row">2</td>
                            <td><img src="" width="100px" height="100px" /></td>
                            <td>T恤</td>
                            <td>这是一件T恤, 颜色白</td>
                            <td>99</td>
                            <td>10</td>
                            <td>
            
                            </td>
                        </tr>
                        <tr>
                            <td scope="row">3</td>
                            <td><img src="" width="100px" height="100px" /></td>
                            <td>牛仔裤</td>
                            <td>一条很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长的牛仔裤</td>
                            <td>149</td>
                            <td>20</td>
                            <td>
            
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                    
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="container mt-5 col-xs-12" id="main">
    <div class="row clearfix">
        <div class="col">
            <div class="card mb-3">
                <div class="card-header d-flex flex-row">
                    <div class="row col-auto flex-grow-1">
                        <span class="align-middle">货品列表</span>
                    </div>
                    <div class="col-auto btn-group-toggle" data-toggle="buttons">
                        <label class="btn btn-light btn-sm">
                            <input type="checkbox" id="hide_price">隐藏价格
                        </label>
                    </div>
                </div>
                <div class="card-body">
                    <div class="alert"><h4 class="card-title">截至yyyy-mm-dd, 现有整体货物%d件, 本日售出%d件, 本月售出%d件</h4></div>
                    <div class="card mb-3">
                        <div class="row no-gutters">
                            <div class="col-md-3 d-md-none d-lg-block" style="height: 200px">
                                <img src="./static/image/pic.png" alt="" style="object-fit: cover; width:100%; height:100%">
                            </div>
                            <div class="col-md-12 col-lg-9">
                                <div class="card-body good_card" data-id="1" data-price="150" data-quantity="100" data-name="风衣">
                                    <div class="d-flex flex-row">
                                        <h4 class="card-title mr-2"><small>#1</small></h4>
                                        <h4 class="card-title flex-grow-1">风衣</h4>
                                        <h4 class="card-title font-weight-bold price"><small>¥</small>150</h4>
                                    </div>
                                    <p class="card-text text-wrap desc-box">这是一件风衣风衣风衣风衣风衣风衣风衣风衣风衣风衣风衣风衣风衣风衣风衣风衣风衣风衣风衣风衣风衣风衣风衣风衣风衣风衣风衣风衣风衣风衣风衣风衣风衣风衣风衣风衣风衣风衣风衣风衣风衣风衣风衣风衣风衣风衣风衣风衣</p>
                                    <div class="d-flex flex-row">
                                        <div class="card-text flex-grow-1">
                                            <small class="text-muted">
                                                <span class="badge badge-primary">库存: 5</span>
                                                <span class="badge badge-success">今日售出: 10</span>
                                                <span class="badge badge-info">本月售出: 10</span>
                                            </small>
                                        </div>
                                        <div class="card-text ctrl-box">
                                            <div class="btn-group" role="group">
                                                <button type="button" class="btn btn-sm btn-light dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    操作
                                                </button>
                                                <div class="dropdown-menu">
                                                    <button class="dropdown-item btn-sm good_import_btn" href="#">进货/调货</button>
                                                    <button class="dropdown-item btn-sm good_export_btn" href="#">撤柜/调出</button>
                                                    <button class="dropdown-item btn-sm text-dark" href="#">编辑信息</button>
                                                    <div class="dropdown-divider"></div>
                                                    <button class="dropdown-item btn-sm text-danger good_remove_btn" href="#">删除</button>
                                                </div>
                                            </div>
                                            <button class="btn btn-primary btn-sm good_sell_btn">出售</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card mb-3">
                        <div class="row no-gutters">
                            <div class="col-md-3 d-md-none d-lg-block" style="height: 200px">
                                <img src="./static/image/pic.png" alt="" style="object-fit: cover; width:100%; height:100%">
                            </div>
                            <div class="col-md-12 col-lg-9">
                                <div class="card-body good_card" data-id="1" data-price="150" data-quantity="100" data-name="风衣">
                                    <div class="d-flex flex-row">
                                        <h4 class="card-title mr-2"><small>#2</small></h4>
                                        <h4 class="card-title flex-grow-1">T恤</h4>
                                        <h4 class="card-title font-weight-bold price"><small>¥</small>150</h4>
                                    </div>
                                    <p class="card-text text-wrap desc-box">喵喵喵</p>
                                    <div class="d-flex flex-row">
                                        <div class="card-text flex-grow-1">
                                            <small class="text-muted">
                                                <span class="badge badge-primary">库存: 5</span>
                                                <span class="badge badge-success">今日售出: 10</span>
                                                <span class="badge badge-info">本月售出: 10</span>
                                            </small>
                                        </div>
                                        <div class="card-text ctrl-box">
                                            <div class="btn-group" role="group">
                                                <button type="button" class="btn btn-sm btn-light dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    操作
                                                </button>
                                                <div class="dropdown-menu">
                                                    <button class="dropdown-item btn-sm good_import_btn" href="#">进货/调货</button>
                                                    <button class="dropdown-item btn-sm good_export_btn" href="#">撤柜/调出</button>
                                                    <button class="dropdown-item btn-sm text-dark" href="#">编辑信息</button>
                                                    <div class="dropdown-divider"></div>
                                                    <button class="dropdown-item btn-sm text-danger good_remove_btn" href="#">删除</button>
                                                </div>
                                            </div>
                                            <button class="btn btn-primary btn-sm good_sell_btn">出售</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container mt-5 col-xs-12" id="main">
    <div class="row clearfix">
        <div class="col">
            <div class="card mb-3">
                <div class="card-header">
                    测试功能
                </div>
                <div class="card-body">
                    <div class="btn-group" role="group">
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal_for_sale">出售模态框</button>
                        <button type="button" class="btn btn-default" data-toggle="modal" data-target="#modal_for_import">进货模态框</button>
                        <button type="button" class="btn btn-default" data-toggle="modal" data-target="#modal_for_export">撤柜模态框</button>
                        <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#modal_for_remove">删除模态框</button>
    
                        <button type="button" class="btn btn-secondary">其他...</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal for selling goods -->
<div class="modal fade" id="modal_for_sale" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header bg-primary text-white">
                <h5 class="modal-title">出售货品</h5>
                <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-row align-items-center d-none">
                        <div class="col-auto">
                            <input type="text" readonly class="form-control-plaintext" value="$id" name="id">
                        </div>
                    </div>
                    <div class="form-row align-items-center">
                        <div class="col-auto">
                            确认售出
                        </div>
                        <div class="col-auto">
                            <input type="text" readonly class="form-control-plaintext" value="$name" name="name">
                        </div>
                    </div>
                    <div class="form-row align-items-center mt-3">
                        <div class="col-auto">
                            数量:
                        </div>
                        <div class="col-auto">
                            <input type="number" class="form-control" value="1" name="quantity" required>
                        </div>
                        <div class="col-auto">
                            当前库存: <span class="text-block inventory">1000</span>
                        </div>
                    </div>
                    <div class="form-row align-items-center mt-3">
                        <div class="col-auto">
                            售出单价:
                        </div>
                        <div class="col-auto">
                            <input type="number" class="form-control" value="1" name="price" required>
                        </div>
                        <div class="col-auto">
                            设定单价: <span class="text-block pricing">¥150</span>
                        </div>
                    </div>
                    <div class="form-row align-items-center mt-3">
                        <div class="col-auto">
                            总价:
                        </div>
                        <div class="col-auto">
                            <h4 class="total_price font-weight-bold price"><small>¥</small><span class="price_value">0</span></h4>
                        </div>
                    </div>
                    <div class="form-row row mt-3">
                        <div class="col-sm-12">
                            <textarea rows="2" class="form-control remark" placeholder="备注信息..."></textarea>
                        </div>
                    </div>
                    <div class="form-row row mt-3 help_text d-none">
                        <div class="col-auto flex-grow-1 mx-1 alert alert-danger text-monospace small" role="alert"></div>
                    </div>
                </form>
                
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary back" data-dismiss="modal">返回</button>
                <div class="spinner-border text-secondary d-none" role="status"></div>
                <button type="button" class="btn btn-success submit">确定</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal for importing goods -->
<div class="modal fade" id="modal_for_import" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">进货</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-row align-items-center d-none">
                        <div class="col-auto">
                            <input type="text" readonly class="form-control-plaintext" value="$id" name="id">
                        </div>
                    </div>
                    <div class="form-row align-items-center">
                        <div class="col-auto">
                            确认进货
                        </div>
                        <div class="col-auto">
                            <input type="text" readonly class="form-control-plaintext" value="$name" name="name">
                        </div>
                    </div>
                    <div class="form-row align-items-center mt-3">
                        <div class="col-auto">
                            数量:
                        </div>
                        <div class="col-auto">
                            <input type="number" class="form-control" value="1" name="quantity" required>
                        </div>
                        <div class="col-auto">
                            当前库存: <span class="text-block inventory">1000</span>
                        </div>
                    </div>
                    <div class="form-row align-items-center mt-3">
                        <div class="col-auto">
                            进货后库存:
                        </div>
                        <div class="col-auto">
                            <h4 class="total_price font-weight-bold after_quantity">0</h4>
                        </div>
                    </div>
                    <div class="form-row row mt-3">
                        <div class="col-sm-12">
                            <textarea rows="2" class="form-control" placeholder="备注信息..."></textarea>
                        </div>
                    </div>
                    <div class="form-row row mt-3 help_text d-none">
                        <div class="col-auto flex-grow-1 mx-1 alert alert-danger text-monospace small" role="alert"></div>
                    </div>
                </form>
            
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary back" data-dismiss="modal">返回</button>
                <div class="spinner-border text-secondary d-none" role="status"></div>
                <button type="button" class="btn btn-success submit">确定</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal for exporting goods -->
<div class="modal fade" id="modal_for_export" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">撤柜</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-row align-items-center d-none">
                        <div class="col-auto">
                            <input type="text" readonly class="form-control-plaintext" value="$id" name="id">
                        </div>
                    </div>
                    <div class="form-row align-items-center">
                        <div class="col-auto">
                            确认撤柜
                        </div>
                        <div class="col-auto">
                            <input type="text" readonly class="form-control-plaintext" value="$name" name="name">
                        </div>
                    </div>
                    <div class="form-row align-items-center">
                        <div class="col-auto">
                            数量:
                        </div>
                        <div class="col-auto">
                            <input type="number" class="form-control" value="1" name="quantity" required>
                        </div>
                        <div class="col-auto">
                            当前库存: <span class="text-block inventory">1000</span>
                        </div>
                    </div>
                    <div class="form-row align-items-center mt-3">
                        <div class="col-auto">
                            撤柜后库存:
                        </div>
                        <div class="col-auto">
                            <h4 class="total_price font-weight-bold after_quantity">0</h4>
                        </div>
                    </div>
                    <div class="form-row row mt-3">
                        <div class="col-sm-12">
                            <textarea rows="2" class="form-control" placeholder="备注信息..."></textarea>
                        </div>
                    </div>
                    <div class="form-row row mt-3 help_text d-none">
                        <div class="col-auto flex-grow-1 mx-1 alert alert-danger text-monospace small" role="alert"></div>
                    </div>
                </form>
            
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary back" data-dismiss="modal">返回</button>
                <div class="spinner-border text-secondary d-none" role="status"></div>
                <button type="button" class="btn btn-success submit">确定</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal for remove goods -->
<div class="modal fade" id="modal_for_remove" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header bg-danger text-white">
                <h5 class="modal-title">删除货品</h5>
                <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-row align-items-center d-none">
                        <div class="col-auto">
                            <input type="text" readonly class="form-control-plaintext" value="$id" name="id">
                        </div>
                    </div>
                    <div class="form-row align-items-center">
                        <div class="col-auto">
                            确认删除
                        </div>
                        <div class="col-auto">
                            <input type="text" readonly class="form-control-plaintext" value="$name" name="name">
                        </div>
                    </div>
                    <div class="form-row row mt-3">
                        <div class="col-sm-12">
                            <textarea rows="2" class="form-control" name="remark" placeholder="备注信息..." required></textarea>
                        </div>
                    </div>
                    <div class="form-row row mt-3">
                        点击确认后, 该货品将会被永久删除, 并不能再执行售卖等操作, 请再次确定该货品现在的实际状态和必要性, 然后确定该操作!
                    </div>
                    <div class="form-row row mt-3 help_text d-none">
                        <div class="col-auto flex-grow-1 mx-1 alert alert-danger text-monospace small" role="alert"></div>
                    </div>
                </form>
            
            </div>
            <div class="modal-footer">
                <div class="spinner-border text-secondary d-none" role="status"></div>
                <button type="button" class="btn btn-danger submit">确定删除</button>
                <button type="button" class="btn btn-secondary back" data-dismiss="modal">返回</button>
            </div>
        </div>
    </div>
</div>


<script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/4.6.0/js/bootstrap.bundle.min.js"></script>
<script src="static/js/helper.js"></script>
<script type="text/javascript">
    "use strict";
    $(function(){
        let
                price_quantity_change = function(){
                    let good_sell_modal = $("#modal_for_sale"),
                            price = good_sell_modal.find("input[name=price]").val(),
                            quantity = good_sell_modal.find("input[name=quantity]").val(),
                            total_price_jd = good_sell_modal.find(".total_price .price_value");
                    if(parseInt(quantity) == quantity && parseFloat(price) == price){
                        total_price_jd.html((parseFloat(price) * parseInt(quantity)).toFixed(2));
                    }else{
                        total_price_jd.html("0");
                    }
                },
                inventory_change = function(){
                    let good_import_modal = $("#modal_for_import"),
                            quantity = good_import_modal.find("input[name=quantity]").val(),
                            inventory = good_import_modal.find(".inventory").html(),
                            after_inventory = good_import_modal.find(".after_quantity"),
                            inventory_int = parseInt(inventory),
                            quantity_int = parseInt(quantity);
                    if(inventory == inventory_int && quantity == quantity_int){
                        if(inventory_int + quantity_int <= inventory_int){
                            after_inventory.html("进货数量应大于零");
                            return;
                        }
                        after_inventory.html(inventory_int + quantity_int);
                    }else{
                        after_inventory.html("请输入正确的进货数量")
                    }
                },
                export_inventory_change = function(){
                    let good_export_modal = $("#modal_for_export"),
                            quantity = good_export_modal.find("input[name=quantity]").val(),
                            inventory = good_export_modal.find(".inventory").html(),
                            after_inventory = good_export_modal.find(".after_quantity"),
                            inventory_int = parseInt(inventory),
                            quantity_int = parseInt(quantity);
                    after_inventory.removeClass("text-danger")
                    if(inventory == inventory_int && quantity == quantity_int){
                        if(quantity_int <= 0){
                            after_inventory.html("撤柜数量应大于零");
                            return;
                        }
                        if(inventory_int - quantity_int < 0){
                            after_inventory.addClass("text-danger");
                        }
                        after_inventory.html(inventory_int - quantity_int);
                    }else{
                        after_inventory.html("请输入正确的撤柜数量");
                    }
                },
                
                _ = function(){
                    let good_sell_modal = $("#modal_for_sale");
                    good_sell_modal.find("input[name=price]").change(price_quantity_change);
                    good_sell_modal.find("input[name=quantity]").change(price_quantity_change);
                    let good_import_modal = $("#modal_for_import");
                    good_import_modal.find("input[name=quantity]").change(inventory_change);
                    let good_export_modal = $("#modal_for_export");
                    good_export_modal.find("input[name=quantity]").change(export_inventory_change);
                }();
        $("#hide_price").click(function(){
            if($(this)[0].checked){
                $(".price").fadeOut()
            }else{
                $(".price").fadeIn()
            }
        });
        $(".good_sell_btn").click(function(){
            let good_card = $(this).parents(".good_card"),
                    good_id = good_card.data("id"),
                    good_name = good_card.data("name"),
                    good_price = good_card.data("price"),
                    good_quantity = good_card.data("quantity"),
                    good_sell_modal = $("#modal_for_sale"),
                    set_good_modal_info = function(modal_jd, id, name, price, quantity){
                        modal_jd.find("input[name=id]").val(id);
                        modal_jd.find("input[name=name]").val(name);
                        modal_jd.find(".inventory").html(quantity);
                        modal_jd.find("input[name=price]").val(price);
                        modal_jd.find(".pricing").html(price);
                        price_quantity_change();
                    };
            set_good_modal_info(good_sell_modal, good_id, good_name, good_price, good_quantity);
            alert_msg(good_sell_modal, "");
            if(good_sell_modal.data("free_sell") === "1"){
                good_sell_modal.data("free_sell", "0");
            }
            if(good_sell_modal.data("confirm") === "1"){
                good_sell_modal.data("confirm", "0");
            }
            good_sell_modal.modal({
                backdrop: "static",
                focus: true,
                show: true
            });
        });
        $(".good_import_btn").click(function(){
            let good_card = $(this).parents(".good_card"),
                    good_id = good_card.data("id"),
                    good_name = good_card.data("name"),
                    good_quantity = good_card.data("quantity"),
                    good_import_modal = $("#modal_for_import"),
                    set_good_modal_info = function(modal_jd, id, name, quantity){
                        modal_jd.find("input[name=id]").val(id);
                        modal_jd.find("input[name=name]").val(name);
                        modal_jd.find(".inventory").html(quantity);
                        inventory_change();
                    };
            set_good_modal_info(good_import_modal, good_id, good_name, good_quantity);
            alert_msg(good_import_modal, "");
            good_import_modal.modal({
                backdrop: "static",
                focus: true,
                show: true
            });
        });
        $(".good_export_btn").click(function(){
            let good_card = $(this).parents(".good_card"),
                    good_id = good_card.data("id"),
                    good_name = good_card.data("name"),
                    good_quantity = good_card.data("quantity"),
                    good_export_modal = $("#modal_for_export"),
                    set_good_modal_info = function(modal_jd, id, name, quantity){
                        modal_jd.find("input[name=id]").val(id);
                        modal_jd.find("input[name=name]").val(name);
                        modal_jd.find(".inventory").html(quantity);
                        export_inventory_change();
                    }
            set_good_modal_info(good_export_modal, good_id, good_name, good_quantity);
            alert_msg(good_export_modal, "");
            good_export_modal.modal({
                backdrop: "static",
                focus: true,
                show: true
            });
        });
        $(".good_remove_btn").click(function(){
            let good_card = $(this).parents(".good_card"),
                    good_id = good_card.data("id"),
                    good_name = good_card.data("name"),
                    good_quantity = good_card.data("quantity"),
                    good_remove_modal = $("#modal_for_remove"),
                    set_good_modal_info = function(modal_jd, id, name, quantity){
                        modal_jd.find("input[name=id]").val(id),
                        modal_jd.find("input[name=name]").val(name),
                        modal_jd.find(".inventory").html(quantity);
                    }
            set_good_modal_info(good_remove_modal, good_id, good_name, good_quantity);
            alert_msg(good_remove_modal, "");
            good_remove_modal.modal({
                backdrop: "static",
                focus: true,
                show: true
            });
        });
        $("#modal_for_remove .modal-footer button.submit").click(function(){
            let good_remove_modal = $("#modal_for_remove"),
                    good_id = good_remove_modal.find("input[name=id]").val(),
                    good_quantity = good_remove_modal.find("input[name=quantity]").val(),
                    good_remark = good_remove_modal.find("textarea[name=remark]").val(),
                    req_param = {
                        id: good_id,
                        remark: good_remark,
                        op: "remove"
                    };
            if(good_id === ""){
                alert_msg(good_remove_modal, "本对话框展示无效, 没有设定ID.");
                return;
            }
            if(good_remark === ""){
                alert_msg(good_remove_modal, "使用删除必须填写备注信息, 请填写备注信息.");
                return;
            }
            set_enable(good_remove_modal, false);
            let ajax_handle = ajax_gen("/api", req_param, function(res_data, textStatus, jqXHR){
                let data = res_data.data;
                if(data === "success"){
                    good_remove_modal.modal("hide");
                    location.reload();
                    return;
                }else{
                    alert_msg(good_remove_modal, "服务器未正常返回回执, 请联系管理员.<br>" + get_string(res_data));
                }
                set_enable(good_remove_modal, true);
            }, ajax_failed_handler, function(){
                set_enable(good_remove_modal, true);
            });
        });
        $("#modal_for_export .modal-footer button.submit").click(function(){
            let good_export_modal = $("#modal_for_export"),
                    good_id = good_export_modal.find("input[name=id]").val(),
                    good_quantity = good_export_modal.find("input[name=quantity]").val(),
                    good_inventory = good_export_modal.find(".inventory").html(),
                    good_remark = good_export_modal.find("textarea[name=remark]").val(),
                    req_param = {
                        id: good_id,
                        quantity: good_quantity,
                        remark: good_remark,
                        op: "export",
                    };
            if(good_id === ""){
                alert_msg(good_export_modal, "本对话框展示无效, 没有设定ID.");
                return;
            }
            if(parseInt(good_quantity) != good_quantity || parseInt(good_quantity) <= 0){
                alert_msg(good_export_modal, "请确认撤柜数量.");
                return;
            }
            export_inventory_change();
            if(parseInt(good_inventory) - parseInt(good_quantity) < 0 && good_export_modal.data("confirm") !== "1"){
                alert_msg(good_export_modal, "撤柜数量大于存货数量, 请确认撤柜数量是否正确, 若确认正确, 请再次点击确定按钮撤柜.");
                good_export_modal.data("confirm", "1");
                return;
            }
            set_enable(good_export_modal, false);
            let ajax_handle = ajax_gen("/api", req_param, function(res_data, textStatus, jqXHR){
                let data = res_data.data;
                if(data === "success"){
                    good_export_modal.modal("hide");
                    location.reload();
                    return;
                }else{
                    alert_msg(good_export_modal, "服务器未正常返回回执, 请联系管理员.<br>" + get_string(res_data));
                }
                set_enable(good_export_modal, true);
            }, ajax_failed_handler, function(){
                set_enable(good_export_modal, true);
            }, good_export_modal[0]);
        });
        $("#modal_for_import .modal-footer button.submit").click(function(){
            let good_import_modal = $("#modal_for_import"),
                    good_id = good_import_modal.find("input[name=id]").val(),
                    good_quantity = good_import_modal.find("input[name=quantity]").val(),
                    good_inventory = good_import_modal.find(".inventory").html(),
                    good_remark = good_import_modal.find("textarea[name=remark]").val(),
                    req_param = {
                        id: good_id,
                        quantity: good_quantity,
                        remark: good_remark,
                        op: "import",
                    };
            if(good_id === ""){
                alert_msg(good_import_modal, "本对话框展示无效, 没有设定ID.");
                return;
            }
            if(parseInt(good_quantity) != good_quantity || parseInt(good_quantity) <= 0){
                alert_msg(good_import_modal, "请确认售出数量.");
                return;
            }
            inventory_change();
            set_enable(good_import_modal, false);
            let ajax_handle = ajax_gen("/api", req_param, function(res_data, textStatus, jqXHR){
                let data = res_data.data;
                if(data === "success"){
                    good_import_modal.modal("hide");
                    location.reload();
                    return;
                }else{
                    alert_msg(good_import_modal, "服务器未正常返回回执, 请联系管理员.<br>" + get_string(res_data));
                }
                set_enable(good_import_modal, true);
            }, ajax_failed_handler, function(){
                set_enable(good_import_modal, true);
            }, good_import_modal[0]);
        });
        $("#modal_for_sale .modal-footer button.submit").click(function(){
            let good_sell_modal = $("#modal_for_sale"),
                    good_id = good_sell_modal.find("input[name=id]").val(),
                    good_quantity = good_sell_modal.find("input[name=quantity]").val(),
                    good_inventory = good_sell_modal.find(".inventory").html(),
                    good_price = good_sell_modal.find("input[name=price]").val(),
                    good_remark = good_sell_modal.find("textarea[name=remark]").val(),
                    good_unit_price = good_sell_modal.find(".pricing").html(),
                    req_param = {
                        id: good_id,
                        quantity: good_quantity,
                        price: good_price,
                        remark: good_remark,
                        unit_price: good_unit_price,
                        op: "sell",
                    };
            if(good_id === ""){
                alert_msg(good_sell_modal, "本对话框展示无效, 没有设定ID.");
                return;
            }
            if(parseInt(good_quantity) != good_quantity || parseInt(good_quantity) <= 0){
                alert_msg(good_sell_modal, "请确认售出数量.");
                return;
            }
            if(parseFloat(good_price) != good_price || parseFloat(good_price) < 0){
                alert_msg(good_sell_modal, "请确认出售价格.");
                return;
            }
            if(parseFloat(good_price) === 0 && good_sell_modal.data("free_sell") !== "1"){
                alert_msg(good_sell_modal, "请确认是否免费出售, 若确为免费出售, 请再次点击确定收货, 将免费售出此物品.");
                good_sell_modal.data("free_sell", "1");
                return;
            }
            if(good_quantity > good_inventory && good_sell_modal.data("confirm") !== "1"){
                alert_msg(good_sell_modal, "售卖数量大于存货数量, 请确认库存数量是否正确, 若确认正确, 请再次点击确认确定售货.");
                good_sell_modal.data("confirm", "1");
                return;
            }
            price_quantity_change();
            set_enable(good_sell_modal, false);
            let ajax_handle = ajax_gen("/api", req_param, function(res_data, textStatus, jqXHR){
                let data = res_data.data;
                if(data === "success"){
                    good_sell_modal.modal("hide");
                    location.reload();
                    return;
                }else{
                    alert_msg(good_sell_modal, "服务器未正常返回回执, 请联系管理员.<br>" + get_string(res_data));
                }
                set_enable(good_sell_modal, true);
            }, ajax_failed_handler, function(){
                set_enable(good_sell_modal, true);
            }, good_sell_modal[0]);
        });
    })
    
</script>
</body>
</html>
